container_commands:
  01_composer_install:
    command: "sudo curl -sS https://getcomposer.org/installer | sudo php"
    cwd: /var/app/staging
  02_run_migrations:
    command: "sudo mv composer.phar /usr/local/bin/composer"
    cwd: /var/app/staging
  03_composer_update:
    command: "chmod -R 0777 storage/"
    cwd: /var/app/staging
  04_composer_update:
    command: "composer update"
    cwd: /var/app/staging
  05_composer_update:
    command: "composer require inspector-apm/inspector-laravel"
    cwd: /var/app/staging


chmod -R 0777 storage




container_commands:
  01_composer_install:
    command: "chmod +x .platform/hooks/postdeploy/server.sh"
  
  

    