files:
  # letting elasticbeanstalk know about the laravel logs
  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

container_commands:
  00_composer_install:
    command: "chmod +x .platform/hooks/postdeploy/artisan.sh"
  01_composer_install:
    command: "chmod +x .platform/hooks/postdeploy/server.sh"
  03_make_storage_writeable:
    command: "chmod -R 775 storage"
    cwd: /var/app/staging
    